/vendor/
/node_modules/
/.env
/.phpunit.result.cache
/.vscode/
/.idea/
/storage/*.key
/public/storage
/storage/logs/*.log
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views

